<link rel="stylesheet" href="{{ 'stainless-steel-pan.css' | asset_url }}" media="print" onload="this.media='all'" />
<noscript>{{ 'stainless-steel-pan.css' | asset_url | stylesheet_tag }}</noscript>

<div class="stainless-steel-pan section-padding">
  <div class="image-wrapper">
    {% if section.settings.videowise != blank  %}
      <div class="image"> 
     {{ section.settings.videowise }}
      </div>
    {% else %}
    {% if section.settings.desktop_image != blank  %}
      <div class="image"> 
      {%- liquid                
        assign sizes = '(min-width: 1441px) 50.52083vw, (min-width: 1301px) 63.8889vw, (min-width: 750px) 100vw, 76.9231vw'
        assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      -%} 
        {%- if section.settings.desktop_image != blank -%}            
          {%- liquid
            assign height = section.settings.desktop_image.width | divided_by: section.settings.desktop_image.aspect_ratio | round
          -%} 
          {% assign dek_class = '' %}
          {%- if section.settings.mobile_image != blank -%}
            {% assign dek_class = 'desktop-img' %}
          {%- endif -%}
          {{
            section.settings.desktop_image
            | image_url: width: 3840
            | image_tag: loading: 'lazy', width: section.settings.desktop_image.width, height: height, sizes: sizes, widths: widths, class: dek_class
          }}
        {%- endif -%}
        {%- if section.settings.mobile_image != blank -%}
          {{
            section.settings.mobile_image
            | image_url: width: 750
            | image_tag: loading: 'lazy', width: section.settings.mobile_image.width, height: section.settings.mobile_image.height, sizes: sizes, widths: widths, class: 'mobile-img'
          }}
        {%- endif -%}{% comment %}
        <img src="{{ section.settings.desktop_image | img_url: 'master' }}" alt="{{ section.settings.image_alt_text }}" class="desktop-img">
        <img src="{{ section.settings.mobile_image | img_url: 'master' }}" alt="{{ section.settings.image_alt_text }}" class="mobile-img">{% endcomment %}
      </div>
    {% endif %}
    {% endif %}
     {% if section.settings.subtitle_text != blank  %}
    <div class="subtitle">{{ section.settings.subtitle_text }}</div>
    {% endif %}
    <div class="pan_review review1">
      <div class="reviews">
        {% if section.settings.review_image != blank %}
          <div class="reviews"><img src="{{ section.settings.review_image | image_url: width: 128 }}" alt="" width="128" height="24" loading="lazy" /></div>
        {% endif %}
      </div>
      <div class="auther-message"> <h2 class="heading h2">{{ section.settings.review_message }}</h2> </div>
      <div class="auther-details"> 
        <div class="auther-image">
          {% if section.settings.author_image != blank %}
            <div class="auther-image">
              <img src="{{ section.settings.author_image | image_url: width: 100 }}" alt="" width="80" height="80" loading="lazy" />              
            </div>
          {% endif %}
        </div> 
         {% if section.settings.author_name != blank %}
          <div class="auther-wrapper"> 
            <div class="auther-name">{{ section.settings.author_name }}</div>
            <div class="auther-verification">  
              <span class="check-icon">  
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
<rect width="12" height="12" rx="6" fill="#143744"/>
<path d="M3.375 6.00984L5.11734 7.80469L8.625 4.19531" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              </span>  
             <span>{{ section.settings.verification_text }}</span>
            </div> 
          </div> 
          {% endif %}
      </div>
    </div>
    <div class="pan_review review2">
     {% if section.settings.custom_heading_text != blank %}
      <div class="auther-message"> <h2 class="heading h2">{{ section.settings.custom_heading_text }}</h2> </div>
      {% endif %}
      <div class="auther-details"> 
        {% if section.settings.author_image_2 != blank %}
        <div class="author-image">
          <img src="{{ section.settings.author_image_2 | image_url: width: 100 }}" alt="" width="80" height="80" loading="lazy" />
        </div>
       {% endif %}
       {% if section.settings.author_name_2 != blank %}
        <div class="auther-wrapper"> 
          <div class="author-name">{{ section.settings.author_name_2 }}</div>
            <div class="auther-verification">  
              <span class="check-icon">  
               <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                 <rect width="12" height="12" rx="6" fill="#728F9A"/>
<path d="M3.375 6.00984L5.11734 7.80469L8.625 4.19531" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg> 
              </span>  
              <span>{{ section.settings.verification_text_2 }}</span>
            </div> 
        </div> 
        {% endif %}         
      </div>
    </div>
   {% if section.settings.testimonial_text != blank %}
    <div class="pan_review review3">
      <div class="auther-message"> <h2 class="heading h2">{{ section.settings.testimonial_text }}</h2> </div>
     <svg xmlns="http://www.w3.org/2000/svg" width="98" height="24" viewBox="0 0 98 24" fill="none" class="icon" >
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.787172 0.156733C0.813709 0.242892 0.975892 0.918007 1.14758 1.65689C1.31926 2.39578 1.6855 3.94745 1.96154 5.10502C2.23758 6.2626 2.5806 7.71352 2.72378 8.32925C2.98287 9.4435 3.17608 10.2622 4.06599 14.0164C4.32292 15.1001 4.85205 17.3369 5.24195 18.9871C5.63178 20.6373 6.03943 22.3602 6.14772 22.8159L6.3447 23.6443L9.93558 23.6414C13.6963 23.6385 13.6947 23.6387 13.9071 23.2399C13.96 23.1407 14.2924 21.851 14.6456 20.374C15.2985 17.6448 15.7387 15.8086 16.1267 14.1955C16.2452 13.7029 16.4875 12.6954 16.6653 11.9565C16.843 11.2176 17.1038 9.93465 17.2449 9.1054C17.4949 7.63532 17.6057 7.22145 17.6057 7.75775C17.6057 8.41755 17.9652 10.0889 19.8478 18.181C20.3462 20.3238 20.836 22.4297 20.9361 22.8606L21.1182 23.6443H28.2645L28.4921 23.4428C28.6973 23.2613 29.0057 22.0941 31.5903 11.7194C33.1689 5.38247 34.4604 0.153151 34.4604 0.0987867C34.4604 0.0284807 33.4816 0 31.0677 0C27.8474 0 27.6667 0.0086875 27.5205 0.170257C27.3561 0.351887 27.2776 0.645473 26.85 2.68685C26.7003 3.4011 26.2732 5.3961 25.9008 7.12017C25.5286 8.84422 25.08 11.081 24.9039 12.0907C24.7279 13.1006 24.569 13.9415 24.5508 13.9597C24.5069 14.0036 24.4789 13.8675 24.1023 11.7774C23.9247 10.7922 23.5798 9.05917 23.3357 7.92622C22.6095 4.55467 22.1911 2.6281 21.8917 1.27625L21.609 0H14.3823L14.2332 0.227308C14.1512 0.352425 14.0333 0.664727 13.9712 0.921412C13.7947 1.6508 13.1354 4.393 12.8039 5.77675C12.6386 6.46637 12.3164 7.79635 12.0878 8.73227C11.8592 9.6682 11.5007 11.2601 11.291 12.27C10.9155 14.0777 10.9087 14.0984 10.8449 13.6134C10.6335 12.0033 10.2097 9.6769 9.30361 5.15205C8.74159 2.34544 8.28176 0.0381532 8.28176 0.0246295C8.28176 0.0111057 6.58461 0 4.5103 0C0.959754 0 0.741628 0.00922488 0.787172 0.156733ZM65.6135 0.213784C65.4883 0.40491 65.4765 1.37531 65.5045 9.37147C65.5385 19.0839 65.5178 18.6617 66.0376 20.1962C66.5694 21.7661 67.6755 22.8575 69.2194 23.3358C70.6901 23.7913 73.6883 23.865 75.9924 23.5024L76.3288 23.4494V18.6975L75.7465 18.7598C73.5788 18.9918 72.7236 18.6612 72.327 17.4379C72.2021 17.0534 72.1691 16.4751 72.1368 14.1284L72.0981 11.2848H73.9674C74.9955 11.2848 75.9722 11.246 76.1376 11.1986C76.6834 11.0422 76.6814 11.0539 76.6844 8.12772L76.6874 5.46327H72.1151V0H65.7537L65.6135 0.213784ZM77.6426 0.163808C77.5061 0.314452 77.4941 1.26336 77.4941 11.986V23.6443H80.5772C83.4789 23.6443 83.6728 23.6342 83.872 23.4732L84.0837 23.302L84.1317 17.6292C84.1854 11.2867 84.1789 11.354 84.8114 10.722C85.2413 10.2926 85.6181 10.1765 86.594 10.1729C87.5789 10.1693 87.9665 10.2941 88.3761 10.747C89.0084 11.4463 89.0014 11.3716 89.0381 17.8452L89.0711 23.6443H92.1462C95.1424 23.6443 95.2276 23.6395 95.4627 23.4547L95.7039 23.2651L95.6712 17.163C95.6354 10.5308 95.6224 10.3444 95.0981 8.77705C94.4434 6.82022 93.2505 5.69282 91.343 5.22807C90.4568 5.01205 88.0745 5.00857 87.2665 5.22207C86.3224 5.4715 85.6149 5.87777 85.0221 6.5106C84.7294 6.82327 84.4186 7.2092 84.3316 7.36825C84.1779 7.64895 84.1726 7.54397 84.1499 3.82877L84.1267 0H80.9588C78.0037 0 77.781 0.0110161 77.6426 0.163808ZM95.3245 5.09445C95.0401 5.37872 94.9767 5.50537 94.9769 5.78855C94.9777 6.4179 95.509 6.98582 96.0973 6.98582C96.6855 6.98582 97.2168 6.4179 97.2176 5.78855C97.2178 5.50537 97.1544 5.37872 96.87 5.09445C96.5636 4.78852 96.4709 4.74677 96.0973 4.74677C95.7236 4.74677 95.6309 4.78852 95.3245 5.09445ZM96.5953 5.01815C96.6903 5.06885 96.8287 5.22807 96.9032 5.37192C97.1144 5.77987 97.0732 6.1383 96.777 6.4694C96.5523 6.72055 96.4561 6.76192 96.0973 6.76192C95.7384 6.76192 95.6422 6.72055 95.4175 6.4694C95.2503 6.2825 95.1559 6.07892 95.1559 5.90525C95.1559 5.5806 95.364 5.14935 95.5817 5.02262C95.7866 4.90342 96.3759 4.90082 96.5953 5.01815ZM40.1983 5.1104C38.4572 5.3026 36.5592 5.99635 35.4573 6.84325C33.5398 8.31725 32.5222 10.4673 32.3205 13.4704C32.0651 17.2709 33.0959 20.3019 35.2332 22.0339C36.2178 22.8321 37.1817 23.2907 38.8178 23.7396C39.818 24.014 42.8873 24.0919 44.1396 23.8746C47.9907 23.2063 50.1567 21.0613 50.9291 17.1511C51.1705 15.9296 51.1483 12.917 50.8886 11.6672C50.3334 8.99407 48.9956 7.12465 46.8776 6.06217C46.1609 5.70267 44.9958 5.33447 44.1431 5.198C43.2942 5.06222 41.0803 5.01295 40.1983 5.1104ZM62.232 5.28102C60.7015 5.56027 59.5837 6.388 58.824 7.80477L58.5773 8.2645V5.46327H55.4495C52.5033 5.46327 52.3091 5.47322 52.1097 5.63442L51.898 5.80567L51.8508 23.6443H54.8944C56.5686 23.6443 58.036 23.6071 58.156 23.5616C58.2754 23.5161 58.4084 23.4053 58.4511 23.3153C58.4936 23.2253 58.5528 21.3582 58.5823 19.1662C58.633 15.4129 58.6478 15.1396 58.835 14.4754C59.2101 13.1448 59.7886 12.3292 60.7003 11.8458C61.3243 11.5148 61.9023 11.3991 63.3376 11.3182C64.2855 11.2646 64.4294 11.2352 64.5436 11.0721C64.6503 10.9199 64.6738 10.3942 64.6738 8.14062V5.39457L64.4719 5.3386C64.1118 5.23865 62.6678 5.20147 62.232 5.28102ZM95.6412 5.3172C95.5542 5.5436 95.6454 6.38845 95.7611 6.4265C95.8309 6.44942 95.8731 6.37815 95.8731 6.23727C95.8731 6.11295 95.9098 5.98855 95.9548 5.96087C96.1 5.87122 96.3217 6.01487 96.3766 6.2344C96.4064 6.35217 96.4664 6.44845 96.5104 6.44845C96.6236 6.44845 96.6101 6.05607 96.4929 5.93912C96.4226 5.86897 96.4226 5.82492 96.4929 5.78157C96.6503 5.6843 96.6048 5.38767 96.4169 5.28727C96.1687 5.15465 95.6964 5.17282 95.6412 5.3172ZM96.3157 5.4578C96.4224 5.52525 96.4241 5.5633 96.3269 5.68037C96.1382 5.9076 95.8731 5.85922 95.8731 5.59762C95.8731 5.36152 96.0665 5.30045 96.3157 5.4578ZM42.9876 9.98962C44.1496 10.3993 44.5417 11.5502 44.5417 14.5538C44.5417 18.2556 43.9457 19.3066 41.857 19.2895C40.0159 19.2743 39.4136 18.4937 39.206 15.8531C39.0972 14.4692 39.203 12.4912 39.4304 11.6519C39.644 10.8651 39.9934 10.3806 40.551 10.0981C40.9708 9.88557 41.1442 9.8518 41.817 9.8518C42.2893 9.8518 42.7504 9.90607 42.9876 9.98962Z" fill="#728F9A"/>
</svg>
      </span>
    </div>
    {% endif %}   
  
    <div class="pan_review review4">
        {% if section.settings.reviews_number != blank %}
       <h2 class="heading h2">{{ section.settings.reviews_number }}</h2>
        {% endif %}
      {% if section.settings.reviews_heading != blank %}
       <h3 class="heading h3">{{ section.settings.reviews_heading }}</h3>
        {% endif %}
    </div>

  </div>
  <div class="about-wrapper">
    {% if section.settings.main_heading_text != blank %}
   <h2 class="main_heading h2">{{ section.settings.main_heading_text }}</h2>
    {% endif %}
    {% if section.settings.paragraph_description != blank %}
    <div class="content-icon-wrapper">
      <span class="icon">
       <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
<rect width="40" height="40" rx="20" fill="#FAFAFA"/>
<g clip-path="url(#clip0_4_2532)">
<path d="M21.6692 16.2431L23.4933 14.4181C23.2775 14.2023 23.1183 13.9367 23.0296 13.6447C22.941 13.3527 22.9257 13.0433 22.9852 12.744C23.0447 12.4447 23.1771 12.1647 23.3706 11.9287C23.5642 11.6928 23.8129 11.5083 24.0948 11.3914C24.3767 11.2746 24.6831 11.2291 24.9868 11.2589C25.2905 11.2887 25.5821 11.393 25.8359 11.5625C26.0897 11.732 26.2977 11.9614 26.4417 12.2305C26.5856 12.4996 26.6609 12.8 26.661 13.1052C26.9662 13.1049 27.2668 13.18 27.5361 13.3237C27.8054 13.4675 28.0351 13.6754 28.2048 13.9291C28.3745 14.1828 28.479 14.4745 28.509 14.7782C28.539 15.082 28.4937 15.3885 28.377 15.6705C28.2602 15.9525 28.0757 16.2014 27.8398 16.3951C27.6039 16.5888 27.3238 16.7213 27.0245 16.7808C26.7251 16.8404 26.4157 16.8252 26.1236 16.7366C25.8315 16.648 25.5658 16.4887 25.35 16.2728L23.6613 17.9624M11.886 19.1593C12.9716 18.0728 15.9101 19.2475 18.4459 21.7842C20.9826 24.32 22.1573 27.2576 21.0698 28.345C19.9842 29.4315 17.0458 28.2568 14.51 25.7201C11.9732 23.1843 10.7986 20.2468 11.886 19.1593ZM11.886 19.1593C15.5093 15.5361 20.5029 14.6547 23.0387 17.1914C25.5754 19.7272 24.694 24.7208 21.0707 28.345M15.9908 23.3114L16.9186 24.2393" stroke="#143744" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_4_2532">
<rect width="20" height="20" fill="white" transform="translate(10 10)"/>
</clipPath>
</defs>
</svg>
      </span>
       <p class="desc">{{ section.settings.paragraph_description }}</p>
    </div>
     {% endif %}
       {% if section.settings.paragraph_description_2 != blank %}    
        <div class="content-icon-wrapper">
          <span class="icon">
         <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
<rect width="40" height="40" rx="20" fill="#FAFAFA"/>
<path d="M14.9056 24.3481L25.2342 24.3403M19.9997 12.1875C21.673 12.1875 23.0706 13.3594 23.4108 14.9227C24.3043 14.6822 25.2572 14.8046 26.06 15.2631C26.8627 15.7216 27.4495 16.4786 27.6913 17.3676C27.9331 18.2566 27.8101 19.2048 27.3493 20.0035C26.8884 20.8023 26.1276 21.3862 25.2342 21.6267V27.8125H14.7652V21.6267C14.3228 21.5075 13.9083 21.3027 13.5455 21.0241C13.1826 20.7455 12.8784 20.3985 12.6503 20.0029C12.4223 19.6073 12.2747 19.1709 12.2161 18.7186C12.1575 18.2663 12.1891 17.8069 12.3089 17.3668C12.4287 16.9266 12.6345 16.5142 12.9146 16.1531C13.1946 15.7921 13.5433 15.4894 13.9409 15.2625C14.3384 15.0355 14.777 14.8887 15.2316 14.8304C15.6862 14.7721 16.1479 14.8035 16.5903 14.9227C16.7594 14.1481 17.1898 13.4543 17.81 12.9567C18.4303 12.4591 19.2029 12.1877 19.9997 12.1875Z" stroke="#143744" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          </span>
         <p class="desc">{{ section.settings.paragraph_description_2 }}</p>
        </div>
      {% endif %}
    {% if section.settings.button_url != blank %}
    <a href="{{ section.settings.button_url }}" class="button cta_button small-hide">{{ section.settings.button_text }}</a>
   {% endif %}
  </div>
 {% if section.settings.button_url != blank %}
  <div class="button-block-mob large-up-hide medium-hide">
    <a href="{{ section.settings.button_url }}" class="button cta_button">{{ section.settings.button_text }}</a>
  </div>
 {% endif %}
</div>
{% schema %}
  {
    "name": "Stainless Steel Pan",
    "settings": [
       {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "liquid",
      "id": "videowise",
      "label": "Videowise widget"
    },
    {
      "type": "text",
      "id": "image_alt_text",
      "label": "Image Alt Text"
    },
    {
      "type": "text",
      "id": "subtitle_text",
      "label": "Subtitle Text"
    },
    {
      "type": "image_picker",
      "id": "review_image",
      "label": "Review Image"
    },
    {
      "type": "text",
      "id": "review_message",
      "label": "Review Message"
    },
    {
      "type": "image_picker",
      "id": "author_image",
      "label": "Author Image"
    },
    {
      "type": "text",
      "id": "author_name",
      "label": "Author Name"
    },
    {
      "type": "text",
      "id": "verification_text",
      "label": "Verification Text"
    },
    {
      "type": "text",
      "id": "custom_heading_text",
      "label": "Custom Heading Text",
      "default": "Fabulous company that stands behind its products. We have purchased a couple of pans and will be getting more!"
    },
    {
      "type": "image_picker",
      "id": "author_image_2",
      "label": "Author Image 2"
    },
    {
      "type": "text",
      "id": "author_name_2",
      "label": "Author Name 2",
      "default": "Eileen M."
    },
    {
      "type": "text",
      "id": "verification_text_2",
      "label": "Verification Text 2",
       "default": "Professional Chef"
    },
    {
      "type": "text",
      "id": "testimonial_text",
      "label": "Testimonial Text",
      "default": "“Easy to clean. Faster cooking. Tremendous American quality!”"
    },
    {
      "type": "text",
      "id": "reviews_number",
      "label": "Number of Reviews",
      "default": "7,000+"
    },
    {
      "type": "text",
      "id": "reviews_heading",
      "label": "Reviews Heading",
      "default": "5-Star Reviews"
    },
    {
      "type": "html",
      "id": "main_heading_text",
      "label": "Main Heading Text",
      "default": "Meet Best in Class Stainless Steel Pan"
    },
    {
      "type": "textarea",
      "id": "paragraph_description",
      "label": "Paragraph Description",
      "default": "Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per aliquet odio conubia nostra."
    },
    {
      "type": "textarea",
      "id": "paragraph_description_2",
      "label": "Paragraph Description",
      "default": "Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  
    ],
    "presets": [
      {
        "name": "Stainless Steel Pan"
      }
    ]
  }
{% endschema %}